@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: black;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    background: transparent;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-top: 6px;
}

.logo{
    /* border: 1px solid red; */
    flex: 22%;
    margin-left: 3%;
    text-align: left;
}

.logo img{
    max-width: 30%;
}

.menu{
    /* border: 1px solid blue; */
    flex: 40%;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-family: 'Rowdies', cursive;
    font-size: 18px;
}

.acoes{
    flex: 22%;
    margin-right: 3%;
    /* border: 1px solid yellow; */
    text-align: right;
}

.acoes img{
    max-width: 8%;
    margin: 8px;
}


.header{
    background: black;
    display: flex;
    flex-flow: row wrap;
    padding-top: 100px;
}

.headline-pai{
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid yellow; */
}

.headline{
    /* border: 1px solid red; */
    color: white;
    flex: 27%;
    margin-right: 3%;
    text-align: center;
    padding-top: 23%;
    padding-bottom: 5%;
}

.headline p{
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
}

.headline h2{
    font-family: 'Gudea', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
}

.headline a{
    text-decoration: none;
    background: black;
    border: 1px solid white;
    padding: 10px;
    font-family: 'Gudea', sans-serif;
    color: white;
    letter-spacing: 3px;
}

.headline a:hover{
    text-decoration: none;
    background: white;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Gudea', sans-serif;
    color: gray;
    letter-spacing: 3px;
}

.img-headline{
    /* border: 1px solid blue; */
    flex: 40%;
    text-align: center;
    padding-top: 5%;
}

.divvazio{
    /* border: 1px solid green; */
    flex: 27%;
    margin-left: 3%;
}

/* Separar */

.section{
    background: black;
    display: flex;
    flex-flow: row wrap;
}

.section-pai{
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid yellow; */
}

.divvazio-section{
    /* border: 1px solid green; */
    flex: 27%;
    margin-left: 3%;
}

.img-section{
    /* border: 1px solid blue; */
    flex: 40%;
    text-align: center;
    padding-top: 5%;
}

.section-text{
    /* border: 1px solid red; */
    color: white;
    flex: 27%;
    margin-right: 3%;
    text-align: center;
    padding-top: 23%;
    padding-bottom: 5%;
}

.section-text p{
    font-family: 'Gudea', sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
}

.section-text h2{
    font-family: 'Gudea', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
}

.section-text a{
    text-decoration: none;
    background: black;
    border: 1px solid white;
    padding: 10px;
    font-family: 'Gudea', sans-serif;
    color: white;
    letter-spacing: 3px;
}

.section-text a:hover{
    text-decoration: none;
    background: white;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Gudea', sans-serif;
    color: gray;
    letter-spacing: 3px;
}

/* Separar */

.footer{
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid yellow; */
    height: 749px;
    background: #dee2e6;
}

.footer-left{
    flex: 50%;
    /* border: 1px solid red; */
    font-family: 'Gudea', sans-serif;
    text-align: left;
    color: gray;
    padding-left: 210px;
    padding-right: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-left h2{
    color: #33393f;
}

.footer-right{
    flex: 50%;
    /* border: 1px solid blue; */
    font-family: 'Gudea', sans-serif;
    text-align: left;
    color: gray;
    padding-left: 60px;
    padding-right: 210px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
}

.footer-pc{
    flex: 27%;
    /* border: 1px solid red; */
    margin-right: 5%;
    text-align: center;
}

.footer-pc h3{
    color: #33393f;
}